body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers content horizontally */
  background-image: url("../images/leaf.jpeg");
  background-size: cover;
  background-position: center; /* Ensures image is centered */
  background-repeat: no-repeat;
  opacity: 100%;
  background-blend-mode: normal;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Ensures no extra scrollbars */
}

.save-the-date-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers text */
  align-items: center; /* Horizontally centers text */
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white; /* To ensure text is visible on the image */
  //   background-color: rgba(
  //     99,
  //     99,
  //     99,
  //     0.5
  //   ); /* Optional: Adds a dark overlay for better text visibility */
  width: 100%; /* Make sure it spans full width */
  height: 100%; /* Make sure it spans full height */
}
.venue-text {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: rgb(8, 49, 0);
}

.header-text {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(8, 49, 0);
}

.subtitle-text {
  color: rgb(8, 49, 0);
  font-size: 20px;
}

.divider {
  height: 2px;
  background-color: rgba(8, 49, 0, 0.311); /* Example divider color */
  border-radius: 5px;
  width: 20px;
  margin: 14px auto 14px auto;
}

.venue-address-text {
  color: rgb(8, 49, 0);
  font-size: 16px;
}

.cal-button {
  display: flex;
  margin-top: 20px;
  justify-content: center; /* Vertically centers text */
  align-items: center; /* Horizontally centers text */
}

.date-text {
  font-size: 20px;
  color: rgb(8, 49, 0);
}

.invitations {
  font-size: 16px;
  margin-top: 16px;
}

.script-text {
  font-family: "Sheffield";
  color: rgb(8, 49, 0);
  margin-top: -8px;
  margin-bottom: -8px;
}

.main-img {
  margin-top: 20px;
  width: 580px; /* you can use % */
  height: auto;
}

@media (max-width: 1200px) {
  .venue-text,
  .date-text {
    font-size: 16px; // Adjust text size for mobile
  }
  .main-img {
    margin-top: 10px;
    width: 540px; /* you can use % */
    height: auto;
  }
}

@media (max-width: 992px) {
  .venue-text,
  .date-text {
    font-size: 18px; // Adjust text size for mobile
  }
  .main-img {
    margin-top: 10px;
    width: 540px; /* you can use % */
    height: auto;
  }
}

@media (max-width: 768px) {
  .venue-text,
  .date-text {
    font-size: 16px; // Adjust text size for mobile
  }
  .header-text,
  .script-text {
    font-size: 24px;
  }
  .header-text {
    margin-bottom: 10px;
  }
  .subtitle-text {
    font-size: 16px;
  }
  .main-img {
    margin-top: 10px;
    width: 540px; /* you can use % */
    height: auto;
  }
  .invitations {
    margin: 4px;
    font-size: 12px;
  }
  .cal-button {
    margin-top: 4px;
  }
}
