body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers content horizontally */
  background-image: url("../images/leaf.jpeg");
  background-size: cover;
  background-position: center; /* Ensures image is centered */
  background-repeat: no-repeat;
  opacity: 100%;
  background-blend-mode: normal;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Ensures no extra scrollbars */
}

.save-the-date-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers text */
  align-items: center; /* Horizontally centers text */
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white; /* To ensure text is visible on the image */
  width: 100%; /* Make sure it spans full width */
  height: 100%; /* Make sure it spans full height */
}

.venue-text {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: rgb(8, 49, 0);
}

.header-text {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(8, 49, 0);
}

.subtitle-text {
  color: rgb(8, 49, 0);
  font-size: 20px;
}

.divider {
  height: 2px;
  background-color: rgba(8, 49, 0, 0.311); /* Example divider color */
  border-radius: 5px;
  width: 20px;
  margin: 14px auto 14px auto;
}

.venue-address-text {
  color: rgb(8, 49, 0);
  font-size: 16px;
}

.cal-button {
  display: flex;
  margin-top: 20px;
  justify-content: center; /* Vertically centers text */
  align-items: center; /* Horizontally centers text */
}

.date-text {
  font-size: 20px;
  color: rgb(8, 49, 0);
}

.invitations {
  font-size: 16px;
  margin-top: 16px;
}

.script-text {
  font-family: "Sheffield";
  color: rgb(8, 49, 0);
  margin-top: -8px;
  margin-bottom: -8px;
}

.main-img {
  margin-top: 20px;
  width: 580px; /* you can use % */
  height: auto;
}

@media (max-width: 1600px) {
  .header-text {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(8, 49, 0);
  }

  .subtitle-text {
    color: rgb(8, 49, 0);
    font-size: 18px;
  }

  .main-img {
    margin-top: 10px;
    width: 540px; /* you can use % */
    height: auto;
  }
  .invitations {
    font-size: 14px;
    margin-top: 2px;
  }
  .venue-address-text {
    color: rgb(8, 49, 0);
    font-size: 16px;
  }

  .cal-button {
    display: flex;
    margin-top: 8px;
    justify-content: center; /* Vertically centers text */
    align-items: center; /* Horizontally centers text */
  }

  .date-text {
    font-size: 20px;
    color: rgb(8, 49, 0);
  }

  .invitations {
    font-size: 14px;
    margin-top: 2px;
  }

  .script-text {
    font-family: "Sheffield";
    color: rgb(8, 49, 0);
    margin-top: -8px;
    margin-bottom: -8px;
  }
}

@media (max-width: 1200px) {
  .venue-text,
  .date-text {
    font-size: 16px; // Adjust text size for mobile
  }
  .venue-text {
    margin-top: 14px;
  }
  .divider {
    margin: 8px auto 8px auto;
  }
  .main-img {
    margin-top: 10px;
    width: 540px; /* you can use % */
    height: auto;
  }
  .invitations {
    margin-top: 6px;
  }
}

@media (min-width: 460px) and (max-width: 550px) {
  .header-text {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  .subtitle-text {
    font-size: 1.2em;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .date-text {
    font-size: 1.2em;
  }
  .venue-address-text {
    font-size: 1em;
  }
  .venue-text {
    margin-top: 10px;
  }
  .cal-button {
    margin-top: 10px;
  }
  .invitations {
    font-size: 1em;
    margin-top: 0.2em;
  }
  //   @media (min-height: 630px) {
  //     .invitations {
  //       font-size: 14px;
  //       margin-top: 20px;
  //     }
  //   }
  //   @media (min-height: 800px) {
  //   }
}

@media (min-width: 320px) and (max-width: 460px) {
  .header-text {
    font-size: 1.5em;
  }
  .subtitle-text {
    font-size: 1em;
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .date-text {
    font-size: 1em;
  }
  .venue-address-text {
    font-size: 0.8em;
  }
  .cal-button {
    margin-top: 10px;
  }
  .invitations {
    font-size: 0.8em;
    margin-top: 0.2em;
  }
  //   @media (min-height: 580px) {
  //     .header-text {
  //       font-size: 1.5em;
  //       margin-top: 30px;
  //     }
  //     .subtitle-text {
  //       font-size: 1em;
  //     }
  //     .main-img {
  //       width: 100%;
  //       height: auto;
  //       margin-top: 20px;
  //     }
  //     .date-text {
  //       font-size: 1em;
  //     }
  //     .venue-address-text {
  //       font-size: 0.8em;
  //     }
  //     .cal-button {
  //       margin-top: 10px;
  //     }
  //     .invitations {
  //       font-size: 0.8em;
  //       margin-top: 0.2em;
  //     }
  //   }
  //   @media (min-height: 800px) {
  //   }
}

/* Media query for smaller screens (phones) */
@media only screen and (max-width: 600px) {
  .container {
    height: auto; /* Background adjusts dynamically based on content */
    min-height: 100vh; /* Minimum height is still full screen */
    width: 100%; /* Adjust width to fit content dynamically */
  }
}
